@charset "UTF-8";

/* 基本のスタイル */
h1 {
	font-size: 32px;
	margin: 0px;
	padding: 4px;
	color: #222288;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;
}

/* ボタン */
.button{
  width:80px;	
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.button:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.buttonBack{
	position:relative;
	left:650px;
	position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #fd9535;/*背景色*/
  border-bottom: solid 2px #d27d00;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.buttonBack:active {
  border-bottom: solid 2px #fd9535;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

/* 検索フォーム　テキストボックス */
.AA01GAIYOU,.ZZ01USERNAME {
    padding: 0.5em 1em;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
    
}




/* 登録フォーム　テキストエリア */
.AA01SYOUSAI {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    font-weight: bold;
    color: #0000BB;
    font-family: system-ui;
}



/* ヘッダー */
header {
	width: 100%;
	height: 57px;
	top:0;
    background-image: linear-gradient( 135deg, #81FBB8 10%, #28C76F 100%);
    margin-bottom:10px;
    
}



.header_logo {
	float: left;
	font-size: 20px;
	font-family: 'MS Sans Serif';
	color: #364e96;
	padding: 0.5em 0;
	border-top: solid 3px #364e96;
	border-bottom: solid 3px #364e96;
	text-align: center;
}

.namea{
	text-align:right;
}


/* フッター */
.wrapper {
	min-height: 36vh;
	position: relative; /*相対位置*/
}

footer {
	width: 100%;
	height: 10px;
	background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
	color: white;
	text-align: center;
	padding: 30px 0;
	bottom: 0; /*下に固定*/
	position: fixed;
}